<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- meta:viewport-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <title>首页</title>
    <link rel="stylesheet" href="./css/base.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <link rel="stylesheet" href="./css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/shop.css"/>
</head>
<body>
<div class="jd_layout">
    <!--搜索头部-->
    <header class="jd_header">
        <div class="jd_header_box">
            <a href="#" class="icon_logo"></a>
            <!-- 小键盘  enter 改变成  搜索 按钮 -->
            <form action="#">
                <span class="icon_search"></span>
                <input type="search" placeholder="818超级会员日">
            </form>
            <a href="/" class="login"><%=uname%></a>
        </div>
    </header>
    <!--轮播图-->
    <div class="jd_banner">
        <ul class="clearfix">
            <li><a href="#"><img src="./imgs/l8.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l1.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l2.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l3.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l4.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l5.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l6.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l7.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l8.jpg" alt=""/></a></li>
            <li><a href="#"><img src="./imgs/l1.jpg" alt=""/></a></li>
        </ul>
        <ul>
            <li class="now"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!--导航栏-->
    <nav class="jd_nav">
        <ul class="clearfix">
            <li>
                <a href="https://so.m.jd.com/category/all.html">
                    <img src="./imgs/nav0.png" alt=""/>
                    <p>分类查询</p>
                </a>
            </li>
            <li>
                <a href="https://m.jd.com/">
                    <img src="./imgs/nav1.png" alt=""/>
                    <p>物流查询</p>
                </a>
            </li>
            <li>
                <a href="/shopping">
                    <img src="./imgs/nav2.png" alt=""/>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="/my">
                    <img src="./imgs/nav3.png" alt=""/>
                    <p>我的主页</p>
                </a>
            </li>
            <li>
                <a href="https://m.jd.com/">
                    <img src="./imgs/nav4.png" alt=""/>
                    <p>充值缴费</p>
                </a>
            </li>
            <li>
                <a href="https://coupon.m.jd.com/center/getCouponCenter.action">
                    <img src="./imgs/nav5.png" alt=""/>
                    <p>领好券</p>
                </a>
            </li>
            <li>
                <a href="https://pro.m.jd.com/mall/active/3YvKJrc4e4WK7aZ46j3h5UMCvEn4/index.html">
                    <img src="./imgs/nav6.png" alt=""/>
                    <p>全球购</p>
                </a>
            </li>
            <li>
                <a href="https://pro.m.jd.com/mall/active/2hqsQcyM5bEUVSStkN3BwrBHqVLd/index.html">
                    <img src="./imgs/nav7.png" alt=""/>
                    <p>京东超市</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- 中间banner-->
    <div class="index_banner">
        <img src="./imgs/新人188.jpg" alt="">
    </div>
    <!--商品-->
    <main class="jd_product">
        <!--商品子盒子-->
        <section class="product_box jd_sk">
            <!--头部-->
            <div class="product_box_tit no_border">
                <div class="f_left m_l10">
                    <span class="sk_icon"></span>
                    <span class="sk_name m_l10">掌上秒杀</span>
                    <div class="sk_time m_l10">
                        <span>0</span>
                        <span>0</span>
                        <span>:</span>
                        <span>0</span>
                        <span>0</span>
                        <span>:</span>
                        <span>0</span>
                        <span>0</span>
                    </div>
                </div>
                <div class="f_right m_r10"><a href="#">更多></a></div>
            </div>
            <!--内容-->
            <div class="product_box_con">
                <ul class="clearfix">
                    <li>
                        <a href="#"><img src="./imgs/detail01.jpg" alt=""/></a>
                        <p>&yen;10.00</p>
                        <p>&yen;100.00</p>
                    </li>
                    <li>
                        <a href="#"><img src="./imgs/detail02.jpg" alt=""/></a>
                        <p>&yen;10.00</p>
                        <p>&yen;100.00</p>
                    </li>
                    <li>
                        <a href="#"><img src="./imgs/detail01.jpg" alt=""/></a>
                        <p>&yen;10.00</p>
                        <p>&yen;100.00</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 中间banner-->
        <div class="index_banner">
            <img src="./imgs/超级单品日.jpg" alt="">
        </div>
        <!--商品子盒子-->
        <section class="product_box">
            <!--头部-->
            <div class="product_box_tit"><h3>京东商城</h3></div>
            <!--内容-->
            <div class="product_box_con clearfix">
                <a href="#" class="f_left w_50 b_right"><img src="./imgs/cp1.jpg" alt=""/></a>
                <a href="#" class="f_right w_50 b_bottom"><img src="./imgs/cp2.jpg" alt=""/></a>
                <a href="#" class="f_right w_50 "><img src="./imgs/cp3.jpg" alt=""/></a>
            </div>
        </section>
        <!--商品子盒子-->
        <section class="product_box">
            <!--头部-->
            <div class="product_box_tit"><h3>京东超市</h3></div>
            <!--内容-->
            <div class="product_box_con clearfix">
                <a href="#" class="f_right w_50 b_left"><img src="./imgs/cp4.jpg" alt=""/></a>
                <a href="#" class="f_left w_50 b_bottom"><img src="./imgs/cp5.jpg" alt=""/></a>
                <a href="#" class="f_left w_50"><img src="./imgs/cp6.jpg" alt=""/></a>
            </div>
        </section>
        <!--商品子盒子-->
        <section class="product_box">
            <!--头部-->
            <div class="product_box_tit"><h3>发现好货</h3></div>
            <!--内容-->
            <!--内容-->
            <div class="product_box_con clearfix">
                <ul class="jd_list" >
                    <%for(var i=0;i<shops.length;i++){%>
                    <li>
                        <img src="./imgs/<%=shops[i].shop_name%>.jpg" alt="" width="205" height="197">
                        <p><%=shops[i].shop_detail%></p>
                        <p>&yen;<%=shops[i].price%>  <span class="glyphicon glyphicon-shopping-cart"></span></p>
                    </li>
                    <%}%>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </ul>
            </div>
        </section>
    </main>
    <footer class="jd_footer">
        <div class="jd_footer_box">
            <div>
                <a href="/">
                        <span class="glyphicon glyphicon-home jdcolor">
                       <p>首页</p>
                    </span>
                </a>
            </div>
            <div>
                <a href="/shopping">
                        <span class="glyphicon glyphicon-shopping-cart">
                             <p>购物车</p>
                        </span>
                </a>
            </div>
            <div>
                <a href="/my">
                        <span class="glyphicon glyphicon-user">
                            <p>我的</p>
                        </span>
                </a>
            </div>

        </div>
    </footer>
</div>
</body>
<script src="./js/common.js"></script>
<script src="./js/index.js"></script>
<script src="./js/jquery.min.js"></script>
</html>