<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- meta:viewport-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <title>我的</title>
    <link rel="stylesheet" href="./css/base.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <link rel="stylesheet" href="./css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/my.css"/>
    <link rel="stylesheet" type="text/css" href="//st.360buyimg.com/home/css/myJd/home5.5/myJd.css?v=29" charset="gbk">
</head>
<body>
<div class="jd_layout">
    <div class="jd_login">
        <div class="avactor">
            <img src="./avactor/jd.png" alt="">
        </div>
        <span>欢迎你,<%=uname%></span>
        <a href="/exist" class="btn btn-danger btn_exist">退出登录</a>
    </div>
    <div class="myJD-content">
        <ul class="in-list bdbr-1px bdbt-1px">
            <a id="fenxianglaxin" href="javascript:maidian('https://home.m.jd.com/myJd/cic/share.action?sid=cf5ab3adc48b763b0c415f3c4edc4813','MMyJD_ShareReward','','');" style="display: none;">
                <li>
                    <div class="in-item  my-item">
                        <div class="couponIn-icon w-18"><img src="//m.360buyimg.com/mobilecms/jfs/t4846/310/1082288634/1624/11f48882/58ec8b4dN4e4b8468.png"></div>
                        <div class="in-item-info my-item bdbr-1px ">
                            <div class="fl">
                                <span class="myJD-Order">分享有奖</span>
                            </div>
                            <div class="fr">
                                <span class="myJD-AllOrder">邀请亲友奖好礼</span>
                                <span class="myJD-arrow"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a id="xinrenfuli" href="javascript:maidian('https://wqs.jd.com/portal/wx/fresh/m2017.html?activenologin=1&amp;_mlogin=1&amp;sid=cf5ab3adc48b763b0c415f3c4edc4813','MMyJD_NewOnes','2','');" style="display: block;">
                <li>
                    <div class="in-item  my-item">
                        <div class="couponIn-icon w-18"><img src="//m.360buyimg.com/mobilecms/jfs/t5833/184/4847667855/2094/a1310b65/59549728N38469e26.png"></div>
                        <div class="in-item-info my-item bdbr-1px ">
                            <div class="fl">
                                <span class="myJD-Order">新人福利</span>
                            </div>
                            <div class="fr">
                                <span class="myJD-AllOrder">新人专享大礼包，点击领取&gt;</span>
                                <span class="myJD-arrow"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a id="jingdongbaitiao" href="javascript:maidian('https://btm.jd.com/?jdm=1&amp;sid=cf5ab3adc48b763b0c415f3c4edc4813','MMyJD_BaiTiao','2','');" style="display: block;">
                <li>
                    <div class="in-item  my-item">
                        <div class="couponIn-icon w-18"><img src="//m.360buyimg.com/mobilecms/jfs/t4090/75/545925108/1765/358c56c/58527499N8c4e7286.png"></div>
                        <div class="in-item-info my-item bdbr-1px ">
                            <div class="fl">
                                <span class="myJD-Order">京东白条</span>
                            </div>
                            <div class="fr">
                                <span class="myJD-AllOrder">白条还款、激活获礼包</span>
                                <span class="myJD-arrow"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a id="wodefuwu" href="javascript:maidian('https://ihelp.jd.com/mindex.html?sid=cf5ab3adc48b763b0c415f3c4edc4813','MMyJD_ServiceManager','2','');" style="display: block;">
                <li>
                    <div class="in-item  my-item">
                        <div class="couponIn-icon w-18"><img src="//m.360buyimg.com/mobilecms/jfs/t2701/182/460335926/1328/9633eac7/57147bf1N90443ef3.png"></div>
                        <div class="in-item-info my-item bdbr-1px ">
                            <div class="fl">
                                <span class="myJD-Order">客户服务</span>
                            </div>
                            <div class="fr">
                                <span class="myJD-AllOrder">返修/退换货、在线客服</span>
                                <span class="myJD-arrow"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a id="wodetequan" href="javascript:maidian('https://vip.m.jd.com/homepage.html?sid=cf5ab3adc48b763b0c415f3c4edc4813','MMyJD_JingMember','2','');" style="display: block;">
                <li>
                    <div class="in-item  my-item">
                        <div class="couponIn-icon w-18"><img src="//m.360buyimg.com/mobilecms/jfs/t1966/37/2742579028/1541/2d9a7c6/57147c39Nb5ab4575.png"></div>
                        <div class="in-item-info my-item bdbr-1px ">
                            <div class="fl">
                                <span class="myJD-Order">京东会员</span>
                            </div>
                            <div class="fr">
                                <span class="myJD-AllOrder">会员俱乐部</span>
                                <span class="myJD-arrow"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
    <footer class="jd_footer">
        <div class="jd_footer_box">
            <div>
                <a href="/">
                        <span class="glyphicon glyphicon-home">
                       <p>首页</p>
                    </span>
                </a>
            </div>
            <div>
                <a href="/shopping">
                        <span class="glyphicon glyphicon-shopping-cart">
                             <p>购物车</p>
                        </span>
                </a>
            </div>
            <div>
                <a href="">
                        <span class="glyphicon glyphicon-user jdcolor">
                            <p>我的</p>
                        </span>
                </a>
            </div>

        </div>
    </footer>
</div>
</body>
</html>