/*    reset  css */
*,
::before,
::after{
    /*ѡ�����еı�ǩ */
    margin: 0;
    padding: 0;

    /*����ƶ���Ĭ�ϵ� �������Ч��*/
    -webkit-tap-highlight-color: transparent;
    /*�������еĶ����Ա߿�ʼ������  �ٷֱ�*/
    -webkit-box-sizing: border-box;/*����*/
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "MicroSoft YaHei",sans-serif;/*�豸Ĭ������*/
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{
    border: none;
    outline: none;
    /*����ƶ���Ĭ�ϵı���ʽ*/
    -webkit-appearance: none;
}

/* common css */
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

[class^="icon_"]{
    background: url("../imgs/sprites.png") no-repeat;
    background-size: 200px 200px;
}

.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_t10{
    margin-top: 10px;
}
